#!/usr/bin/env bash

{{ if eq .chezmoi.os "darwin" }}
MISE_BIN=/opt/homebrew/bin/mise
{{ end }}

{{ if eq .chezmoi.os "linux" }}
{{   if and (ne .chezmoi.arch "armv6l") (ne .chezmoi.arch "armv7l") (ne .chezmoi.arch "arm") }}
MISE_BIN=~/.local/bin/mise
if [ -f ~/.local/bin/mise ]; then
  echo "mise is already installed"
  $MISE_BIN activate zsh
  $MISE_BIN self-update --force --yes
else
  curl https://mise.run | MISE_QUIET=1 sh
  $MISE_BIN activate zsh
fi

# plugins only for linux
$MISE_BIN use neovim
# Install configured versions
$MISE_BIN install
# $MISE_BIN use nodejs
# $MISE_BIN use python
{{   end }}
{{ end }}
